.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 600px;
}

.App-header {
  background-color: #f1f1f1;
  height: 700px;
  padding: 0px;
  color: #4c4c4c;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.multi-line-break{
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}

.single-line-break {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
